In [29]:
import pandas as pd

In [2]:
!wget -q https://raw.githubusercontent.com/aspdiscovery123/Deep-Learning-for-structure-data/master/Bank_churn_modelling.csv

In [3]:
df = pd.read_csv("Bank_churn_modelling.csv")
df.shape

(10000, 14)

In [4]:
from sklearn.model_selection import train_test_split
df1,df2 = train_test_split(df,test_size=0.1,stratify=df.Exited,random_state=5)
df1.shape,df2.shape

((9000, 14), (1000, 14))

In [5]:
df1.to_csv("Bank_A_data.csv",index=False)

In [6]:
df2.to_csv("Bank_B_data.csv",index=False)

# Churn Prediction model for Bank A

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras import models,layers

In [8]:
df = pd.read_csv("Bank_A_data.csv")
df.shape

(9000, 14)

In [9]:
df.head()

   RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0       6711    15701037     Barton  ...               0        70563.90      0
1       3203    15598070   Marchesi  ...               0        63170.00      0
2       9703    15687828   Gorshkov  ...               1        73922.95      0
3       7204    15657778  Jefferson  ...               0       103914.40      0
4       2122    15583576        Tai  ...               1       102057.86      0

[5 rows x 14 columns]

In [10]:
df.drop(columns = ['RowNumber','CustomerId','Surname'],inplace=True)
df.shape

(9000, 11)

In [11]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          578    France    Male  ...               0         70563.90       0
1          564    France  Female  ...               0         63170.00       0
2          644     Spain  Female  ...               1         73922.95       0
3          657    France    Male  ...               0        103914.40       0
4          671    France    Male  ...               1        102057.86       0

[5 rows x 11 columns]

In [12]:
x = df.drop("Exited",axis=1)
y = df.Exited

In [13]:
x.shape,y.shape

((9000, 10), (9000,))

In [19]:
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler
from sklearn.compose import ColumnTransformer

trans = ColumnTransformer([('ohe',OneHotEncoder(drop='first'),[1,2]),
                           ('mm',MinMaxScaler(),[0,3,4,5,6,9])],remainder='passthrough')

trans.fit(x)
x2 = trans.fit_transform(x)
x2.shape

(9000, 11)

In [20]:
pd.DataFrame(x2).head(2)

    0    1    2      3         4    5         6         7         8    9    10
0  0.0  0.0  1.0  0.456  0.283784  0.2  0.000000  0.333333  0.352795  1.0  0.0
1  0.0  0.0  0.0  0.428  0.202703  0.4  0.541839  0.000000  0.315822  1.0  0.0

### Building the Neural Network

In [24]:
ip = layers.Input(shape=(11,),name="input_layer_bankA")

d1 = layers.Dense(20,activation='relu',name='H1_BankA')(ip)
d2 = layers.Dense(20,activation='relu',name='H2_BankA')(d1)
d3 = layers.Dense(10,activation='relu',name='H3_BankA')(d2)
d4 = layers.Dense(10,activation='relu',name='H4_BankA')(d3)


op = layers.Dense(1,activation='sigmoid',name="output_layer_bankA")(d4)

model = models.Model(ip,op)
model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_layer_bankA (InputLaye [(None, 11)]              0
_________________________________________________________________
H1_BankA (Dense)             (None, 20)                240
_________________________________________________________________
H2_BankA (Dense)             (None, 20)                420
_________________________________________________________________
H3_BankA (Dense)             (None, 10)                210
_________________________________________________________________
H4_BankA (Dense)             (None, 10)                110
_________________________________________________________________
output_layer_bankA (Dense)   (None, 1)                 11
=================================================================
Total params: 991
Trainable params: 991
Non-trainable params: 0
_________________________________________________________________

In [25]:
y =np.array(y,dtype='float64')

In [26]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
model.fit(x2,y,epochs=50,shuffle=True,validation_split=0.15)

Epoch 1/50
240/240 [==============================] - 1s 3ms/step - loss: nan - accuracy: 0.7954 - val_loss: nan - val_accuracy: 0.7993
Epoch 2/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 3/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 4/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 5/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 6/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 7/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 8/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 9/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 10/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 11/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 12/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 13/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 14/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 15/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 16/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 17/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 18/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 19/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 20/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 21/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 22/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 23/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 24/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 25/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 26/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 27/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 28/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 29/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 30/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 31/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 32/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 33/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 34/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 35/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 36/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 37/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 38/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 39/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 40/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 41/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 42/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 43/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 44/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 45/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 46/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 47/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 48/50
240/240 [==============================] - 1s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 49/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993
Epoch 50/50
240/240 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.7958 - val_loss: nan - val_accuracy: 0.7993

In [27]:
model.save("model.h5")

In [28]:
import joblib
joblib.dump(trans,'preprocessor.pkl')

['preprocessor.pkl']