# Using transfer learning for Bank B

In [1]:
!wget -q https://raw.githubusercontent.com/aspdiscovery123/Deep-Learning-for-structure-data/master/model.h5
!wget -q https://raw.githubusercontent.com/aspdiscovery123/Deep-Learning-for-structure-data/master/preprocessor.pkl
!wget -q https://raw.githubusercontent.com/aspdiscovery123/Deep-Learning-for-structure-data/master/Bank_B_data.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Bank_B_data.csv")
df.shape

(1000, 14)

In [4]:
df.head()

   RowNumber  CustomerId      Surname  ...  IsActiveMember EstimatedSalary Exited
0       5825    15698953         Hart  ...               1        74048.10      1
1       9046    15749951        Sacco  ...               0       177614.17      1
2       7599    15613699     Schnaars  ...               0       161937.62      1
3       1288    15565701        Ferri  ...               0        90212.38      0
4       1227    15775572  Bergamaschi  ...               0        75248.75      0

[5 rows x 14 columns]

In [6]:
df.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [7]:
x = df.drop(columns=['Exited'])
y = df.Exited

In [9]:
import joblib
preprocessor = joblib.load("preprocessor.pkl")

In [11]:
x2 = preprocessor.transform(x)
x2.shape

(1000, 11)

## Modelling

In [12]:
from tensorflow.keras import models,layers

In [13]:
old_model = models.load_model("model.h5")
old_model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_layer_bankA (InputLaye [(None, 11)]              0
_________________________________________________________________
H1_BankA (Dense)             (None, 20)                240
_________________________________________________________________
H2_BankA (Dense)             (None, 20)                420
_________________________________________________________________
H3_BankA (Dense)             (None, 10)                210
_________________________________________________________________
H4_BankA (Dense)             (None, 10)                110
_________________________________________________________________
output_layer_bankA (Dense)   (None, 1)                 11
=================================================================
Total params: 991
Trainable params: 991
Non-trainable params: 0
_________________________________________________________________

In [14]:
# freezing most of layers
for layer in old_model.layers[:-2]:
  layer.trainable=False

In [15]:
old_model.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_layer_bankA (InputLaye [(None, 11)]              0
_________________________________________________________________
H1_BankA (Dense)             (None, 20)                240
_________________________________________________________________
H2_BankA (Dense)             (None, 20)                420
_________________________________________________________________
H3_BankA (Dense)             (None, 10)                210
_________________________________________________________________
H4_BankA (Dense)             (None, 10)                110
_________________________________________________________________
output_layer_bankA (Dense)   (None, 1)                 11
=================================================================
Total params: 991
Trainable params: 121
Non-trainable params: 870
_________________________________________________________________

In [16]:
old_model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
old_model.fit(x2,y,epochs=20,shuffle=True)

Epoch 1/20
32/32 [==============================] - 1s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 2/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 3/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 4/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 5/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 6/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 7/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 8/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 9/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 10/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 11/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 12/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 13/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 14/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 15/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 16/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 17/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 18/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 19/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960
Epoch 20/20
32/32 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.7960